*{
    color: #babaca;
}

body{
    background-color: #fff;
}


.custom-name{
    width: 30%;
    border-top: 0.5px solid #babaca;
    border-bottom: 0.5px solid #babaca;
    font-weight: bold;
}

.custom-title{
    color: #1c1d24;
    font-weight: bold;
}

.custom-p{
    color: #1c1d24;
    line-height: 2.1rem;
}

.custom-button{
    padding: 0.5rem 5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0px;
    background-color: #323756;
    color: #fff;
    border: none;
    font-weight: bold;
    transition: all  0.5s ;
}

.custom-button:hover{
    background-color: #fff;
    color: #323756;
}

.jumbotron-custom-one{
    background-color: #1c1d24;
    padding: 7rem 2rem !important;
    border-radius: 0px;
    border-radius: 0px;   
}

.jumbotron-custom-two{
    background-color: #1c1d24;
    padding: 7rem 2rem !important;
    border-radius: 0px;
    border-radius: 0px;   
}

@media (max-width: 768px) { 
    .custom-arrow{
        display: none !important;
        visibility: hidden;
    }

    .custom-name{
        width: 60%;
        border-top: 0.5px solid #babaca;
        border-bottom: 0.5px solid #babaca;
    }
}