*{
    color: rgb(50, 55, 86);
}
.custom-name{
    width: 30%;
    border-top: 0.5px solid rgb(50, 55, 86);
    border-bottom: 0.5px solid rgb(50, 55, 86);
    font-weight: bold;
}

.custom-title{
    color: rgb(50, 55, 86);
    font-weight: bold;
}

.custom-p{
    line-height: 2.1rem;
}

.custom-button{
    padding: 0.5rem 5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 8px;
    background-color: #323756;
    border: none;
    font-weight: bold;
}

.jumbotron-custom-one{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 45px 0px, rgba(0, 0, 0, 0.05) 0px 61px 67px 0px;
    padding: 7rem 2rem !important;
}

.jumbotron-custom-one  .sub-title{
    color: #2ed573;
}


@media (max-width: 768px) { 
    .custom-arrow{
        display: none !important;
        visibility: hidden;
    }

    .custom-name{
        width: 60%;
        border-top: 0.5px solid black;
        border-bottom: 0.5px solid black;
    }
}
